.additional {
  background-color: map-get($hue_colors, light-color);
  width: 100%;

  .container {
    @include mobile {
      flex-direction: column-reverse;
    }
  }

  .left_bar {
    padding: 3rem 1rem 3rem 0;
    @include mobile {
      margin-left: 2rem;
    }

    h1 {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 3rem;
      margin-left: 5px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        width: 45% ;
        margin-left: 5px;
        margin-bottom: 5%;

        img {

          border-radius: 4px;
          width: 100%;

        }
      }
    }

    button {
      height: 3rem;
      width: 42%;
      border-radius: 4px;
      background-color: map-get($vivid_colors, vivid-color2);
      border: 0;
      font-size: 1.2rem;
      color: map-get($hue_colors, light-color);
      font-weight: 900;
      margin-top: 1rem;
      margin-left: 5px;

      @include mobile {
        width: 91%;
        height: 3rem;
      }

      i {
        margin-right: 10px;
        font-size: 1.5rem;
      }
    }
  }
}
.right_bar {
  padding: 3rem 1rem 3rem 0;
  margin-left: 3rem;

  h1 {
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
    font-weight: 900;
  }
   p {
     font-size: 1.5rem;
     font-weight: 300;
     line-height: 2rem;
     text-align: justify;
     @include  mobile {
       padding-right: 5rem;
     }
   }
  button {
    height: 3rem;
    width: 42%;
    border-radius: 4px;
    background-color: map-get($vivid_colors, vivid-color2);
    border: 0;
    font-size: 1.2rem;
    color: map-get($hue_colors, light-color);
    font-weight: 900;
    margin-top: 2rem;

    @include mobile {
      width: 91%;
      height: 3rem;
    }

    i {
      font-size: 1.5rem;
      color: map-get($hue_colors, light-color);
      margin-left: 10px;
    }
  }


}