.footer {
    h1 {
      color: map_get($hue_colors, text-color);
      font-weight: 800;
      font-size: 1.5rem;
      margin-bottom: 2rem;
      margin-top: 2rem;
    }
  a {
    color: map_get($hue_colors, text-color);
    font-weight: 300;
    font-size: 1rem;
    line-height: 2rem;
    padding-right: 1.5rem;
    display: inline-block;
  }
  i {
    font-size: 3.2rem;
    padding: 5px;
  }
  p {
    color: map_get($hue_colors, text-color);
    margin: 2rem 0;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}