// hue colors grey

$hue_colors: (
        light-color: #fff,
        lighter-color: #f2f2f2,
        main-color: #E4E4E4,
        accent-color: #696969,
        text-color: #444444,
        transparent-black: rgba(0,0,0,0.2)

);


//other colors
$vivid_colors: (
        vivid-color1: #FC4887,
        vivid-color2: #0090c5
);
